.main {
  display: flex;
  flex-direction: column;
  margin:50px auto;
  width: 80%;
}
.main h1{
  display: flex;
  justify-content: center;
  color: #1a7f6d;
  margin: 0;
  padding: 10px;
}
.top {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: #bec2c1;
}
.top .left {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.details {
  margin: 5px 0px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #bec2c1;
}
.details button {
  background-color:#1fd4b3;
  width: 50px;
  border: 1px solid white;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  margin: 2px 5px;
  border-radius: 5px;
  transition: 0.2s;
}
.details button:hover{
  background-color: #1a7f6d;
  border-color: #1a7f6d;
  border-radius: 2px;
}
.details p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.details button img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.view p {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  color: rgb(5, 121, 49);
}
.right {
  display: flex;
  align-items: flex-end;
  padding: 5px;
}
.right button{
  padding:8px 12px;
  cursor: pointer
  ;
  transition: 0.3s;
  background-color: gray;
  border: 1px solid rgb(87, 84, 84);
  color: white;
  border-radius: 8px;
  font-size: 16px;
}
.right button:hover{
  background-color: rgb(58, 57, 57);
}
.right select{
  padding:8px 10px;
  cursor: pointer
  ;
  margin: 0px 3px;
  transition: 0.3s;
  background-color: rgb(194, 191, 191);
  border: 1px solid rgb(87, 84, 84);
  color: rgb(63, 60, 60);
  border-radius: 8px;
  font-size: 15px;
}
.box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.days span {
  text-align: center;
  padding: 10px;
  background-color: #1a7f6d;
  color: white;
  /* margin: 0.5px; */
}
.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: rgb(175, 172, 172);
  border: 1px solid rgb(175, 172, 172);
}
.dates span {
  text-align: center;
  padding: 5px 10px;
  background-color: rgb(227, 224, 230);
  color: white;
  margin: 0.5px;
  color: black;
}
.dates .ext {
  text-align: center;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  color: white;
  margin: 0.5px;
  color: black;
  transition: 0.3s ease;
}
.dates .ext:hover {
  background-color: #3fc9af;
}
.dates .hijri p {
  color: rgb(33, 161, 1);
  padding: 6px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.dates .gregorian p {
  padding: 6px;
  font-size: 18px;
  margin: 0;
  font-weight: 700;
}
